tests/inputs/silver.D/AcqData/MSScan_XSpecific.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Malini Srikantarajeurs (private) -->
<!--Graphical Representation of the MSSCan.bin file format for document purpose-->
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mstns="http://tempuri.org/XMLSchema.xsd" xmlns="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified" version="1.0">
  <xs:element name="MSScanXSpecificBin">
    <xs:annotation>
      <xs:documentation>MSScan_XSpecific binary file index record details</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IonRecord" type="IonRecordType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IonRecordType">
    <xs:sequence>
      <xs:element name="XValue" type="xs:double" />
      <xs:element name="IonDetectorMode" type="xs:int" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>